---
import Layout from "../layouts/Layout.astro";
import PostPreview from "./PostPreview.astro";

const { label, labelValue, posts } = Astro.props;
---

<Layout title={"Brian Meeker: " + labelValue}>
  <div class="flex flex-col mx-auto">
    <h1 class="text-2xl text-center pt-3">
      {label}: <span class="uppercase">{labelValue}</span> ({posts.length})
    </h1>

    <ol class="mx-auto px-4">
      {
        posts.map((post: any) => (
          <li>
            <PostPreview {post} />
          </li>
        ))
      }
    </ol>
  </div>
</Layout>
