---
import _ from "lodash";
import PostPreview from "../../components/PostPreview.astro";
import Layout from "../../layouts/Layout.astro";

interface Frontmatter {
  title: string;
  date: string;
  tags: string[];
  currentTag: string[];
}

export async function getStaticPaths() {
  const posts = (await Astro.glob<Frontmatter>("../../blog/*.md")).flatMap(
    (post) => {
      return post.frontmatter.tags.map((tag) => {
        return {
          ...post,
          frontmatter: { ...post.frontmatter, currentTag: [tag] },
        };
      });
    }
  );
  const tagGroups = _.groupBy(posts, (post) => post.frontmatter.currentTag);

  return _.map(tagGroups, (posts, tag) => {
    const sortedPosts = posts.sort(
      (a, b) =>
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf()
    );
    return {
      params: {
        tag: tag,
      },
      props: { posts: sortedPosts, tag },
    };
  });
}

const { posts, tag } = Astro.props;
---

<Layout title={"Tag: " + tag}>
  <div class="flex flex-col mx-auto">
    <h1 class="text-black text-2xl text-center pt-3">
      Tag: <span class="uppercase">{tag}</span> ({posts.length})
    </h1>

    {posts.map((post: any) => <PostPreview {post} />)}
  </div>
</Layout>
