---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props;
---
<Layout title="Post">
    <article class="prose max-w-4xl sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto px-4 py-12 sm:px-8 md:px-12 text-sm sm:text-base leading-8 sm:leading-7 transition-all">
        <section class="mb-16 text-center">
            <p class="m-0">{ frontmatter.date }</p>
            <h1 class="mt-4 text-2xl sm:text-4xl font-bold transition-all">{ frontmatter.title }</h1>
        </section>
        <slot />
    </article>
</Layout>